USE [QACheckSheet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckResults]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckResults](
	[ResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NULL,
	[SheetId] [int] NULL,
	[DeviceId] [int] NULL,
	[DeviceTypeId] [int] NULL,
	[ItemId] [int] NULL,
	[FormNO] [nvarchar](max) NOT NULL,
	[SheetCode] [nvarchar](450) NOT NULL,
	[SheetName] [nvarchar](max) NOT NULL,
	[TypeCode] [nvarchar](max) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[DeviceCode] [nvarchar](450) NOT NULL,
	[DeviceName] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Factory] [nvarchar](max) NOT NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[ParentItemId] [int] NULL,
	[Title] [nvarchar](max) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[PathTitles] [nvarchar](max) NULL,
	[DataType] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[CheckedBy] [nvarchar](max) NOT NULL,
	[CheckedDate] [datetime2](7) NOT NULL,
	[ConfirmBy] [nvarchar](max) NOT NULL,
	[ConfirmDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK_CheckResults] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfirmApproves]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfirmApproves](
	[ConfirmApproveId] [int] IDENTITY(1,1) NOT NULL,
	[ConfirmedBy] [nvarchar](max) NOT NULL,
	[ConfirmedDate] [datetime2](7) NOT NULL,
	[ApprovedBy] [nvarchar](max) NOT NULL,
	[ApprovedDate] [datetime2](7) NOT NULL,
	[SheetCode] [nvarchar](max) NOT NULL,
	[DeviceCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ConfirmApproves] PRIMARY KEY CLUSTERED 
(
	[ConfirmApproveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[DeviceCode]  AS ('DV'+CONVERT([varchar](20),[DeviceId])) PERSISTED,
	[DeviceName] [nvarchar](255) NOT NULL,
	[SeriNumber] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Factory] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[FrequencyOverride] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTypes]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode]  AS ('DT'+CONVERT([varchar](20),[TypeId])) PERSISTED,
	[TypeName] [nvarchar](255) NOT NULL,
	[DefaultFrequency] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_DeviceTypes] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGDetails]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGDetails](
	[NgId] [int] IDENTITY(1,1) NOT NULL,
	[ResultId] [bigint] NOT NULL,
	[FixContent] [nvarchar](700) NOT NULL,
	[FixedDate] [datetime2](7) NULL,
	[ConfirmedBy] [nvarchar](max) NOT NULL,
	[ConfirmedDate] [datetime2](7) NULL,
	[Note] [nvarchar](max) NOT NULL,
	[NGContentDetail] [nvarchar](700) NOT NULL,
	[FixedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NGDetails] PRIMARY KEY CLUSTERED 
(
	[NgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SheetDeviceTypes]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SheetDeviceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SheetId] [int] NOT NULL,
	[DeviceTypeId] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_SheetDeviceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SheetItems]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SheetItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[SheetId] [int] NOT NULL,
	[ParentItemId] [int] NULL,
	[Title] [nvarchar](700) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[PathIds] [nvarchar](500) NULL,
	[PathTitles] [nvarchar](2000) NULL,
	[IsActive] [bit] NOT NULL,
	[DataType] [nvarchar](max) NOT NULL,
	[Min] [decimal](18, 2) NULL,
	[Max] [decimal](18, 2) NULL,
	[IsRequired] [bit] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_SheetItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sheets]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheets](
	[SheetId] [int] IDENTITY(1,1) NOT NULL,
	[SheetCode]  AS ('CS'+CONVERT([varchar](20),[SheetId])) PERSISTED,
	[SheetName] [nvarchar](500) NOT NULL,
	[FormNO] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Sheets] PRIMARY KEY CLUSTERED 
(
	[SheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/09/2025 11:13:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([DeviceId], [TypeId], [DeviceName], [SeriNumber], [Model], [Location], [Factory], [Status], [FrequencyOverride], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (1, 18, N'MM400 - 01', N'3405548', N'Dimension Measuring System', N'Bàn 22', N'F1', N'Đang sử dụng', NULL, N'', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T14:35:03.8691238' AS DateTime2), N'admin', 0)
INSERT [dbo].[Devices] ([DeviceId], [TypeId], [DeviceName], [SeriNumber], [Model], [Location], [Factory], [Status], [FrequencyOverride], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (2, 18, N'MM400 - 02', N'3404547', N'Dimension Measuring System', N'Bàn 21', N'F1', N'Đang sử dụng', NULL, N'', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Devices] ([DeviceId], [TypeId], [DeviceName], [SeriNumber], [Model], [Location], [Factory], [Status], [FrequencyOverride], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (3, 18, N'MM400 - 03', N'3404703', N'Dimension Measuring System', N'Bàn 20', N'F1', N'Đang sử dụng', NULL, N'', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', 0)
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceTypes] ON 

INSERT [dbo].[DeviceTypes] ([TypeId], [TypeName], [DefaultFrequency], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (1, N'Băng tải', 1, N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', 0)
INSERT [dbo].[DeviceTypes] ([TypeId], [TypeName], [DefaultFrequency], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (2, N'Cân', 1, N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:36:14.9278860' AS DateTime2), N'admin', 0)
INSERT [dbo].[DeviceTypes] ([TypeId], [TypeName], [DefaultFrequency], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (3, N'Dao trổ', 1, N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:52:57.0277813' AS DateTime2), N'admin', 0)
SET IDENTITY_INSERT [dbo].[DeviceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Người quản trị')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Manager', N'Trưởng phòng')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Assistant', N'Phó phòng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SheetDeviceTypes] ON 

INSERT [dbo].[SheetDeviceTypes] ([Id], [SheetId], [DeviceTypeId], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (3, 1, 1, CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', 0)
INSERT [dbo].[SheetDeviceTypes] ([Id], [SheetId], [DeviceTypeId], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (4, 16, 18, CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', 0)
INSERT [dbo].[SheetDeviceTypes] ([Id], [SheetId], [DeviceTypeId], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (5, 6, 27, CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', CAST(N'2025-09-20T13:31:43.9890000' AS DateTime2), N'admin', 0)
SET IDENTITY_INSERT [dbo].[SheetDeviceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[SheetItems] ON 

INSERT [dbo].[SheetItems] ([ItemId], [SheetId], [ParentItemId], [Title], [OrderNumber], [Level], [PathIds], [PathTitles], [IsActive], [DataType], [Min], [Max], [IsRequired], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (1, 1, NULL, N'Kiểm tra ngoại quan: không bị bẩn, gỉ, nứt vỡ, dị vật', 1, 1, N'/1/', N'Kiểm tra ngoại quan: không bị bẩn, gỉ, nứt vỡ, dị vật', 1, N'BOOLEAN', NULL, NULL, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Admin', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'Admin', 0)
GO
SET IDENTITY_INSERT [dbo].[SheetItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sheets] ON 

INSERT [dbo].[Sheets] ([SheetId], [SheetName], [FormNO], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (1, N'Kiểm tra: Băng Tải', N'CVC-QA-008-031-QA[Form01/Rev00]', N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Sheets] ([SheetId], [SheetName], [FormNO], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (2, N'Kiểm tra đầu giờ Cân điện tử FX-200i', N'CVC-QA-009-017-QA[Form01/Rev02-25.08.2024]', N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Sheets] ([SheetId], [SheetName], [FormNO], [Description], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag]) VALUES (3, N'Kiểm tra: Máy Cưa', N'CVC-QA-008-022-QA[Form01/Rev00]', N'', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', CAST(N'2025-09-12T11:16:24.1940000' AS DateTime2), N'admin', 0)
SET IDENTITY_INSERT [dbo].[Sheets] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserCode], [PasswordHash], [FullName], [CreatedAt]) VALUES (1, N'admin', N'$2a$11$I9Iu1uWWK/CdSpzXu9mWLujxCGPsHXJvmfq7/isqpZJd8pur/Gf7u', N'Administrator', CAST(N'2025-09-12T11:16:18.1163091' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[NGDetails] ADD  DEFAULT (N'') FOR [NGContentDetail]
GO
ALTER TABLE [dbo].[NGDetails] ADD  DEFAULT (N'') FOR [FixedBy]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_DeviceTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[DeviceTypes] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_DeviceTypes_TypeId]
GO
ALTER TABLE [dbo].[NGDetails]  WITH CHECK ADD  CONSTRAINT [FK_NGDetails_CheckResults_ResultId] FOREIGN KEY([ResultId])
REFERENCES [dbo].[CheckResults] ([ResultId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NGDetails] CHECK CONSTRAINT [FK_NGDetails_CheckResults_ResultId]
GO
ALTER TABLE [dbo].[SheetDeviceTypes]  WITH CHECK ADD  CONSTRAINT [FK_SheetDeviceTypes_DeviceTypes_DeviceTypeId] FOREIGN KEY([DeviceTypeId])
REFERENCES [dbo].[DeviceTypes] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SheetDeviceTypes] CHECK CONSTRAINT [FK_SheetDeviceTypes_DeviceTypes_DeviceTypeId]
GO
ALTER TABLE [dbo].[SheetDeviceTypes]  WITH CHECK ADD  CONSTRAINT [FK_SheetDeviceTypes_Sheets_SheetId] FOREIGN KEY([SheetId])
REFERENCES [dbo].[Sheets] ([SheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SheetDeviceTypes] CHECK CONSTRAINT [FK_SheetDeviceTypes_Sheets_SheetId]
GO
ALTER TABLE [dbo].[SheetItems]  WITH CHECK ADD  CONSTRAINT [FK_SheetItems_SheetItems_ParentItemId] FOREIGN KEY([ParentItemId])
REFERENCES [dbo].[SheetItems] ([ItemId])
GO
ALTER TABLE [dbo].[SheetItems] CHECK CONSTRAINT [FK_SheetItems_SheetItems_ParentItemId]
GO
ALTER TABLE [dbo].[SheetItems]  WITH CHECK ADD  CONSTRAINT [FK_SheetItems_Sheets_SheetId] FOREIGN KEY([SheetId])
REFERENCES [dbo].[Sheets] ([SheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SheetItems] CHECK CONSTRAINT [FK_SheetItems_Sheets_SheetId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
